@use 'base' as *;

@layer screen {
	.settings-item {
		display: flex;
		flex-direction: column;
		gap: 4px;
		font-size: 13px;
		color: get($neutrals, 'fg-light');

		&__label {
			@include label-row;
		}
	}
}
